body 
{
  text-align: center;
  background: rgb(255, 225, 104);
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

h1
{
  line-height: 1em;
  font-weight: 100;
  color: #ffffff;
  font-size: 51px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0px 1px 1px #ABABAB;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

li
{
  text-align: left;
  padding-top: 7px;
}

li a
{
  text-decoration: none;
  color: white;
}

#list h1
{
  margin-top: 16px;
  margin-bottom: 11px;
  font-size: 40px;
}

.banner {
  padding: 1px 58px;
  width: 100%;
  display: inline;
  box-shadow: 2px 2px 2px #21D7D7;
  display: inline-block;
  text-align: left;
  background: rgb(255, 120, 144);
  border-color: rgb(28, 224, 224);
}

#list
{
  box-shadow: 2px 2px 2px #21D7D7;
  width: 27%;
  float: left;
  border: 6px solid rgb(33, 215, 215);
  background: rgb(255, 120, 144);
  border-radius: 72px;
  margin-top: 20px;
  margin-left: 30px;
  height: 430px;
}

#directions
{
  border: 6px solid rgb(33, 215, 215);
  float: right;
  background: rgb(255, 120, 144);
  border-radius: 49px;
  margin-right: 38px;
  margin-top: 28px;
  margin-bottom: 64px;
  width: 482px;
}

#map-canvas
{
  float: right;
  box-shadow: 2px 2px 2px #21D7D7;
  margin: 20px auto;
  width: 30%;
  height: 600px;
  border: 6px solid rgb(33, 215, 215);
  border-radius: 72px;
  margin: 20px 10px;
}
#clear-tweet
{
  margin: 234px 823px;
  width: 89px;
  border: 6px solid rgb(33, 215, 215);
  border-radius: 72px;
  height: 89px;
  color: black;
  background: rgb(255, 255, 255);
  z-index: 99;
  box-shadow: 2px 2px 2px #21D7D7;
  position: absolute;
}

#profile
{
  width: 35%;
  float: left;
  box-shadow: 2px 2px 2px #21D7D7;
  background: rgb(255, 120, 144);
  border: 6px solid rgb(33, 215, 215);
  border-radius: 72px;
  margin-top: 20px;
  margin-left: 0px;
  height: 430px;
}

#expose 
{
  float: right;
  margin-right: 66px;
  margin-top: 19px;
  margin-bottom: 64px;
}

input
{
  border: solid 3px rgb(33, 215, 215);
  border-radius: 3px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  box-shadow: 2px 2px 2px #21D7D7;
  
}

.profile-pic
{
  width: 205px;
  margin-right: -69px;
  height: auto;
  margin-left: -62px;
  max-height: 272px;
  margin-top: 16px;
  border: 6px solid rgb(33, 215, 215);
  border-radius: 19px;
}

.profile-pic2
{
  width: 350px;
  margin-right: -69px;
  height: auto;
  margin-left: -62px;
  max-height: 272px;
  margin-top: 59px;
  border: 6px solid rgb(33, 215, 215);
  border-radius: 19px;
}

.tweet
{
  margin-top: 54px;
  margin-left: 0px;
  border-radius: 23px;
  background: rgba(0, 0, 0, 0.6);
  padding: 2px;
  font-size: 19px;
  border: 6px solid rgb(33, 215, 215);
}

.button
{
  background: rgb(33, 215, 215);
  margin-top: 16px;
}

.content
{
  color: black;
  background: rgb(33, 215, 215);
}

.display
{
  width: 1300px;
  margin: auto;
  height: 500px;
}

.screenname
{
  box-shadow: 2px 2px 2px #21D7D7;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-radius: 6px;
  text-shadow: 0px 1px 1px #ABABAB;
  float: right;
  color: white;
  margin-top: 60px;
  margin-right: -17px;
  background: rgb(255, 120, 144);
  font-size: 28px;
  padding: 18px 16px;
}

.social
{
  list-style-type: none;
  margin-right: 0px;
  display: inline;
  
}

.load{
  position: relative;
  top: 30%;
}

.highlight
{
  color: #14FFFF;
}

.social li
{
  text-align: left;
  padding-top: 7px;
  margin-left: 33px;
  display: inline-block;
}

#foot
{
  float: right;
  border-top: 6px solid rgb(33, 215, 215);
  background: rgb(255, 120, 144);
  width: 100%;
}

.jojo
{
  font-size: 48px;
  text-shadow: 0px 1px 1px #ABABAB;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: inline;
}

input, label
{
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: black;
    display:block;
    margin-bottom:4px;
}
label
{
  font-size:20px;
}

p
{
  padding: 2px;
}

h2
{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
   display:block;
   margin-bottom:4px;
}

p
{
  
}

th
{
  text-align: left;
}


