<div class="banner">
  <h1 id="locator">{{ "Tweet Locator" }}</h1>
  <a href="http://burtfol.io/">
    <h4 class='joza'>burtofol.io</h4>
    <img src="/images/743ee2b5082dc27ac647e8f3ee18a0f0_400x400.gif" class='me'>
  </a>
</div> 