<banner>
</banner>
<div class="display">
 <div  ng-controller="MapController as geo">
   <map>
   </map>
   <div id="map-canvas"></div>
  <profile>
  </profile>
  <div id="list" ng-if="featuredTweet">
    <h1>Hottest Tweets</h1>
    <list>
   </list>
    </div>
    <div id="list" ng-if="!featuredTweet"><h1 class="load">{{loading}}</h1></div>
  <formage>
  </formage>
  
  </div>
  <div id="directions">
    <instructions>
   </instructions>
   </div>
 </div>
<footer id="foot">
</footer>
