<div class="banner">
  <h1 id="locator">{{ "Tweet Locator" }}</h1>
  <a href="http://burtfol.io/">
    <h4 class='joza'>burtofol.io</h4>
    <img src="/images/743ee2b5082dc27ac647e8f3ee18a0f0_400x400.gif" class='me'>
  </a>
</div> 
<div class="display">
 <div  ng-controller="MapController as geo">
   <div id ="clear-tweet" ng-click="flush()"><h3><a href="javascript:void(0)">Clear<br>Map<a/></h3></div>
   <div id="map-canvas"></div>
   <div id="profile" ng-style="{'background':'transparent url(' + featuredTweet.background_image + ')'}" ng-if="featuredTweet" >
     <img class="profile-pic" ng-src="{{featuredTweet.profile_image.replace('_normal', '')}}" ng-show="featuredTweet" />
     <a id= "tweeter-page" href="{{'https://twitter.com/' + featuredTweet.user}}"><h3 class="screenname">{{featuredTweet.user}}</h3></a>
     <div class="tweet"><p>{{featuredTweet.text}}</p></div>
   </div>
  <div id="profile" ng-if="!featuredTweet" >
    <img class="profile-pic2" ng-src="{{noTweetImage}}" ng-show="noTweetImage" />
  </div>
  <div id="list" ng-if="featuredTweet">
    <h1>Hottest Tweets</h1>
    <ol>
      <li ng-class="{'highlight': tweet == featuredTweet}" ng-click="changedFeatured(tweet)" ng-repeat="tweet in tweets | limitTo: 10 " ><a href="javascript:void(0)">{{tweet.user}}- {{tweet.text.trunc(17) + "..." }} {{tweet.retweet_count }}</a></li>
    </ol>
    </div>
    <div id="list" ng-if="!featuredTweet"><h1 class="load">{{loading}}</h1></div>
    <div id="expose">
      <form class="round" id="srch_map" name="reviewForm" ng-submit="loadData();">
          <label for="zip">Where would you like to search!</label>
          <input ng-model="search.place" type="text" id="zip" name="zip" placeholder="Zip Code">
          <label for="phrase">Key Words</label>
          <input ng-model="search.phrase" type="text" id="phrase" name="phrase" placeholder="What you are looking for?">
          <input id="find_tweets" class="button" type="submit"  value="Search!" >
      </form>
    </div>
  </div>
  <div id="directions">
    <instructions>
   </instructions>
   </div>
 </div>
<footer id="foot">
</footer>
