<div class="banner">
  <h1>Tweet Locator</h1>
</div> 
<div class="display">
  <div id ="clear-tweet"><h2>Clear<br>Map</h2></div>
 <div id="map-canvas"></div>
   <div id="profile">
     <img class="profile-pic" src="https://pbs.twimg.com/profile_images/3221004065/743ee2b5082dc27ac647e8f3ee18a0f0_400x400.gif">
     <a href="https://twitter.com/crazyboutelvish/"><h3 class="screenname">Van Joza</h3></a>
     <div class="tweet"><p>Ignornance is hott</p></div>
   </div>
  <div id="list">
    <h1>Hottest Tweets</h1>
    <ol>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    <ol>
  </div>
 </div>

  <div id="expose"> 
    <form class="round" id="srch_map" >
      <label for="zip">Type in your zip code!</label><input type="text" id="zip" name="zip" placeholder="Zip Code">
      <input id="zip_srch" class="button" type="button"  value="relocate" >
      <label for="phrase">Tweet Search</label><input type="text" id="phrase" name="phrase" placeholder="What you are looking for?">
      <input id="find_tweets" class="button" type="button"  value="Creep!" >
    </form>
  </div>
</div> 
