<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>




    
    // <script type="text/javascript"
    //   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeDe9FlzrkXFDYA2pp4CZC3D-B_1knTJ8&sensor=false">
    // </script>
   

  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>



  </head>
  <body>
  <%= yield %>
  </body>
</html>
