<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbGlZtfqLVOB-Q7f9baI_QIkg2lgfcm2k&sensor=false&libraries=places">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/map-icons.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/box.js"></script>
    <script src="/js/spot.js"></script>
    <script src="/js/fetcher.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/map-icons-ie7.js"></script>
    <script src="/js/map-icons.js"></script>
    <script src="/js/map-icons.min.js"></script>
    <li id="fire" meta="/images/1420351727_132117.ico"><li>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
